/* Created in 2001. Now that's a long time ago
 * Josh Johnson
 * http://www.forsquirrels.net/
 */

/* cornflowerblue = #6495ED
 * lightblue = #ADD8E6
 * olive = #808000
 * nice off white = #f5f5f5
 */

.msgb-main-msg-display:nth-child(odd) {
	background-color: #fdf5e6;
}

.msgb-main-msg-display:nth-child(even) {
	background-color: #faf0e6;
}

.msgb-main-msg-display::before {
	content: "->"
}


.msgb-main-msg-display:first-child::before {
	content: ">"
}

.name {
	color: #0033CC;
	font-size: 18pt;
}

.main-nav {
	background-color: #CC6600;
}

.main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav li {
	width: 100px;
	height: 50px;
	display: inline-block;
	text-align: center;
}

.main-nav a {
	display: block;
	line-height: 50px;
}

.news_head {
	border-left: solid #6495ed 1px;
	border-bottom: solid #6495ed 1px;
	font-size: 12pt;
	margin-left: 10px;
	margin-right: 50px;
}

.news_body {
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 15px;
	max-width: 800px;
}

.site-title {
	background-color: #CC3300;
	color: #ffffff;
	font-weight: bold;
	font-family: Times;
	height: 20px;
	letter-spacing: 40px;
	overflow: hidden;
	padding-left: 10px;
	white-space: nowrap;
}

.page-title {
	border-left:solid black 2px;
	border-top:solid black 1px;
	border-bottom:solid black 1px;
	margin-left:10px;
	background-color:#6495ED;
}

.stdInputWidth {
	width: 400px;
}

.tablature {
	font-family: monospace,courier;
	font-size: 10pt; color: #000000;
}

/* *************************** */

a:hover {
	background-color: #ADD8E6;
}

a.dead {
	color: silver;
	text-decoration: line-through;
}

body {
	background-color: #f5f5f5;
	font-family: arial;
	margin: 0;
}

h2 {
	font-size: 18pt; text-align: left; color: #0033CC;
}

img.tn {
	height: 50px;
	width: 50px;
}

input, textarea {
	border-style: solid;
	border-color: #CC3300;
}

input.button {
	border: 2px #f0f0f0 solid;
}

td.discosection {
	font-weight: 900;
	text-align: center;
}

td.fs {
	background-color: silver;
}

td.notfs {
	color: #ffffff;
	background-color: #808080;
}

td.subhead {
	background-color: #add8e6;
}

th {
	background-color: #ADD8E6;
	text-align: center; font-size: 12pt; color: #000000;
}

tr.email {
	display: none;
}
